
<body>

<!-- HEADER -->

<div class="color-container primary-bg">
    <div class="content-container" style="height: 60px;">
        <div class="brand-icon icons">A</div>
        <div class="menu-icon icons">B</div>
    </div>
</div>

<ui-view ></ui-view>

<!-- Footer -->

<div class="color-container dark-bg">
    <div class="content-container" style="height: 100px;">
    </div>
</div>

<!-- Section Title -->

<div class="color-container primary-bg">
    <div class="content-container" style="height: 400px;">

    </div>
</div>



</body>
