<!-- Banner, Profile -->

<div class="color-container dark-bg">
    <div class="content-container profile-container">
        <div class="photo-container" style="width: 100%;">
            <div class="photo profile-image"></div>
        </div>
        <div class="name-wrapper" style="cursor:pointer;">
            edit
        </div>
        <div class="name-wrapper">
            <h2>{{model.user.name}}</h2>
        </div>
        <div class="location-container">
            <div style="margin: 0 auto;">
                <div class="location-icon icons">C</div>
                <div class="location-text">San Francisco, CA <span style=" color:white;cursor:pointer;">edit</span></div>
            </div>
        </div>

    </div>
</div>
