    <div class="base-container">
        <div class="overlay dark"></div>
        <div class="base-color">
            <div class="icons">
                <img src="images/brand-full.svg" style="width: 160px;">
            </div>
        </div>

        <div class="banner-text">
            <h1>Sell your time.</h1>

            <p>Share a link. Sell your time. Make money.</p>
            <a ui-sref="inner.login">Login</a> | <a ui-sref="inner.register">Register</a>
        </div>

        <div class="base-bottom"></div>
    </div>
