    <div class="base-container">
        <div class="base-color">
            <div class="icons">
                <img src="images/brand-full.svg" style="width: 160px;">

            </div>
            <div style="display:inline-block;float:right;    margin-top: -26px; color:white;"> <a ui-sref="inner.login">Login</a> | <a ui-sref="inner.register">Register</a></div>
        </div>


        <div style="    background-image: url('images/Landing Page image.png');
    height: 2700px;
    width: 100vw;
    background-size: contain;
    margin: auto;
    background-repeat: no-repeat;"></div>

    </div>
